blinker==1.9.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.5.0
numpy==2.4.1
pandas==3.0.0
python-dateutil==2.9.0.post0
six==1.17.0
Werkzeug==3.1.5
biopython>=1.80
SQLAlchemy>=2.0
PyMySQL>=1.1
requests>=2.31